/*
ps: 09/03/2021 (d/m/y)
*/

html, body {
    margin: 0;
    padding: 0;
}

#canvas-container {
    display: grid;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    margin-top: 10%;
 }

#canvas-container p {
    text-align: center;
    font-size: 22px;
    color: #1A0B38;
}
#canvas-container h2 {
    text-align: center;
    font-size: 40px;
    color: #1A0B38;
}

canvas {
    display: block;
    background-color: #A6A6A6;
}
