/*
ps: 09/03/2021 (d/m/y)
*/

html, body {
    margin: 0;
    padding: 0;
}

#canvas-container {
    display: grid;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    margin-top: 10%;
 }

canvas {
    display: block;
    background-color: #A6A6A6;
}
